* {
    margin:0;
    bottom:0;
    box-sizing: border-box
}

:root {
    --closecall:red;
    --sharescreen:green;
    --appbackground:black;
    --maincolor:white;
}

body {
    background-color: black;;
}
/* CONTAINER OF THE WEBAPP */
.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: var(--appbackground);
}

/* CONTAINER OF THE VIDEO CONTROLS */
.topcontrols {
    color:var(--maincolor);
    display:flex;
    justify-content: flex-end;
    margin-bottom:20px;
}

.webfeeds {
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
        width:96vw;
        margin:0 auto;
    }
    

.imgfeed {
    
    position:relative;
}

.imgfeed img {
    width: 100%;
    display:block;
}

.livefeed {
    width: calc(100% / 7);
    padding-right:10px;
    padding-bottom:10px;

}

.userinfo{
    position:absolute;
    width: 100%;
    left:0;
    bottom:0px;


}

.userinfo span {
    background-color: rgba(80, 80, 80, 0.5);
    color:white;
    padding:2px;
}

.userinfo i {
    padding-right:6px;
}