* {
    margin:0;
    bottom:0;
    box-sizing: border-box
}

:root {
    --closecall:red;
    --sharescreen:green;
    --appbackground:black;
    --maincolor:white;
    --footercolor:#222222;
}

body {
    background-color: black;
}

main {
    width:90vw;
    margin:0 auto;
}

footer {
    background-color: var(--footercolor);
    padding:7px;
    overflow: hidden;
}
/* CONTAINER OF THE WEBAPP */
.wrapper {
    height: 100vh;
    background-color: var(--appbackground);
}

/* CONTAINER OF THE VIDEO CONTROLS */
.topcontrols {
    color:var(--maincolor);
    display:flex;
    justify-content: flex-end;
    margin-bottom:20px;
}

.videocontrols {
    margin-top:20px;
}

.videocontrols span  {
    padding:5px;
    background-color: #4a4a4a;
    border-radius:5px;
}

/* CONTAINER OF THE WEBCAMS */
.webfeeds {
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    }

.livefeed {
        width: calc(100% / 7);
        padding-right:10px;
        padding-bottom:10px;
        min-width: 230px;
    
}
    
.imgfeed {
position:relative;
}

.imgfeed img {
    width: 100%;
    display:block;
}


.userinfo{
    position:absolute;
    width: 100%;
    left:0;
    bottom:0px;


}

.userinfo span {
    background-color: rgba(80, 80, 80, 0.5);
    color:var(--maincolor);
    padding:2px;
}

.userinfo i {
    padding-right:6px;
}

.callcontrols {
    display:flex;
    justify-content: space-between;
    text-align: center;
    color:var(--maincolor)

}

.callcontrols i {
    font-size:30px;
    margin-bottom:10px;
}

.select i {
    font-size:5px;
}

.aflex {
    display:flex;
    flex-flow: column nowrap;
}

.aflex p {
    align-self: flex-end;
}

.buttoncontainer {
    display:flex;
    justify-content: center;
    align-items: center;
}

.fa-chevron-up:before {
    content:"\f077";
    font-size:11px;
    padding-left:18px;
}

.m28 {
    margin-left:28px;
}

#green {
    color:var(--sharescreen);
}

.closecall {
    background-color: #4a4a4a;
    padding:20px;
    color:var(--closecall);
}