* {
    margin:0;
    bottom:0;
    box-sizing: border-box
}

:root {
    --closecall:red;
    --sharescreen:green;
    --appbackground:black;
    --maincolor:white;
}

body {
    background-color: black;;
}

main {
    width:96vw;
    margin:0 auto;
}
/* CONTAINER OF THE WEBAPP */
.wrapper {
    height: 100vh;
    background-color: var(--appbackground);
}

/* CONTAINER OF THE VIDEO CONTROLS */
.topcontrols {
    color:var(--maincolor);
    display:flex;
    justify-content: flex-end;
    margin-bottom:20px;
}

.videocontrols {
    margin-top:20px;
    margin-right:48px;
}

.videocontrols span  {
    padding:5px;
    background-color: #4a4a4a;
    border-radius:5px;
}

/* CONTAINER OF THE WEBCAMS */
.webfeeds {
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    }

.livefeed {
        width: calc(100% / 7);
        padding-right:10px;
        padding-bottom:10px;
    
}
    
.imgfeed {
position:relative;
}

.imgfeed img {
    width: 100%;
    display:block;
}


.userinfo{
    position:absolute;
    width: 100%;
    left:0;
    bottom:0px;


}

.userinfo span {
    background-color: rgba(80, 80, 80, 0.5);
    color:var(--maincolor);
    padding:2px;
}

.userinfo i {
    padding-right:6px;
}

